*{
  margin: 0%;
  padding: 0%;
}
body{
  background: #ed6363;
}


.Header{
  display: flex;
  background: #74aec3;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size:20px;
  padding: 18px;
  gap: 4%;
}
.link{
  color: #ffffff;
  font: bold;
  text-decoration: none;
}
.Home{
  font-size:15px;
  font:bold;
  text-align: center;
  justify-content: center;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
padding: 20%;
  color: #ffffff;
}

.About{
  font-size:35px;
  font:bold;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  justify-content: center;
padding: 20%;
  color: #ffffff;
}

.Contact{
  font-size:35px;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font:bolder;
  text-align: center;
  justify-content: center;
padding: 20%;
  color: #ffffff;
}
